body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(244, 244, 244);
}


.draggable {
    position: absolute;
    cursor: move;
    
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 209, 220);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    position: absolute;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(252, 138, 157);
    color: black;
    cursor: move;


}



#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;


}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 253, 253);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(107, 107, 107);
}
button:active{
    background-color: rgb(144, 144, 144);

}
.operator-btn{
    background-color: rgb(252, 138, 157);
}
.operator-btn:hover{
    background-color: rgb(249, 188, 75);
}
.operator-btn:active{
    background-color: rgb(246, 202, 120);
}
